.swiper-pagination-bullets {
  display: flex;
  gap: 10px;
  justify-content: center;
}

div>.swiper-button-prev,
div>.swiper-button-next {
  width: 5rem;
  height: 5rem;
  font-weight: 900;
  background: #9483f1;
  color: rgb(255, 255, 255);
  border-radius: 100%;
}

.swiper-pagination {
margin-bottom: 1.5rem;
}


.swiper-pagination>.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  line-height: 20px;
  border: 1.2px solid rgb(2, 19, 37);
  box-shadow: rgb(26, 9, 9) 0 0 2.5px;
  opacity: 1;
  background: white;
  transition: all ease-in-out;
}

.swiper-pagination>.swiper-pagination-bullet-active {
  width: 2rem;
  border-radius: 40px;
  transition: all ease-in-out;
}

@media (max-width : 768px) {

  div>.swiper-button-prev::after,
  div>.swiper-button-next::after {
    font-size: 2rem;
  }
  .swiper-pagination {
    margin-bottom: 0rem;
    }

  div>.swiper-button-prev,
  div>.swiper-button-next {
    width: 3rem;
    height: 3rem;
    font-weight: 900;
    background: #9483f1;
    color: rgb(255, 255, 255);
    border-radius: 100%;
  }

  .swiper-pagination-bullets {
    gap: 0px;
  }

  .swiper-pagination>.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    line-height: 20px;
    border: 1.2px solid rgb(2, 19, 37);
    box-shadow: rgb(26, 9, 9) 0 0 2.5px;
    transition: all ease-in-out;
    opacity: 1;
  }

  .swiper-pagination>.swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 20px;
    transition: all ease-in-out;
  }
}