footer {
	background: #101010;
	padding-top: 50px;
	color: white;
}

.socials {
	display: flex;
	gap: 2rem;
}
.fa-icons {
	/* margin: 1rem; */
	transform: scale(2);
	transition: all .2s;
}
.send-btn {
	border: 1.5px solid #fff;
	background-color: #101010;
	color: white;
	right: .5rem;
}

.send-btn:hover {
	transform: scale(1.05);
	color: aquamarine;
	border-bottom:1px solid white;
	border-top:1px solid white;
}

.fa-icons:hover {
	transform: scale(2.3);
}

.input-box2 {
    padding: 0 1rem;
    width: 100%;
    outline: none;
	/* border-radius: 5px; */
	height: 2.15rem;

}